# Caddyfile for the protected SchemaSpy Oracle deployment.
#
# This file is loaded as a config map and used to transparently replace the default Caddyfile.
# It adds basic authentication to limit access to the database documentation.
#
# The root is redirected to /doc to allow an unauthenticated /health path for OpenShift
# The deployment therefore needs to be configured to redirect the SchemaSpy
# output to /var/www/html/doc using the OUTPUT_PATH variable.
#
# The username and password need to be injected into the environment using secretes,
# this allows the use of a generic Caddyfile for all environments while using
# randomly generated usernames and passwords for each environment.

{$SERVER_HOST}:{$SERVER_PORT} {
    # Log everything to stdout
    log {
        output stdout
    }

    #  Set server root
    root * /var/www/html

    # Enable serving static files
    file_server

    # Enable gzip, zstd compression
    encode zstd gzip

    # Openly exposed health check endpoint for OpenShift
    respond /health 200

    # Wrap the SchemaSpy content in basic authentication
    basicauth /doc/* {
        {$SCHEMASPY_USER} {$SCHEMASPY_PASSWORD}
    }

    # Rewrite requests to the correct location.
    @protected {
        not path /health
    }
    rewrite @protected /doc{uri}
}